<navigacija></navigacija>

<div class="container">
  <glava vsebina="vm.glavaStrani"></glava>
  <div class="row">
    <div ng-controller="kosaricaCtrl" class="col-xs-12">
      <div class="error">{{ vm.sporocilo }}</div>
        <h2>To je vaša košarica</h2>
        <div class="row">
          <div ng-repeat="artikel in vm.podatki.kosarica.artikli" class="col-xs-12 list-group-item float-left">
            <div class="row"></div>
              <div class="col-xs-3">
                <img src="{{ artikel.slika }}" class="img-thumbnail kosara"/>
              </div>
              <div class="col-xs-9">
                <p>{{ artikel.naziv }} , {{ artikel.avtor }}, cena: {{ artikel.cena }} €</p><a ng-click="vm.odstraniArtikel(artikel._id)" class="btn btn-default pull-right">Odstrani</a>
              </div>
            </div>
          </div>
          <div class = "row">
<a          <a ng-click="vm.zakljuciNakup()" class="btn btn btn-lg btn-block btn-success pull-right">Zakljuci nakup</a>
          </div>
        </div>
        
    </div>
  </div>
  
  <noga></noga>
</div>