<nav class="navbar navbar-expand-lg navbar-dark bg-primary"><a href="/" class="navbar-brand">SPLETNIK</a>
  <button type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
  <div id="navbarColor01" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item", ng-hide="navvm.jePrijavljen"><a href="/prijava" class="nav-link">Košarica<span class="sr-only">(current)</span></a></li>
      <li class="nav-item", ng-show="navvm.jePrijavljen"><a href="/kosarica" class="nav-link">Košarica<span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a href="/informacije" class="nav-link">Informacije</a></li>
      <li class="nav-item", ng-hide="navvm.jePrijavljen"><a href="/prijava?stran={{ navvm.trenutnaLokacija }}" class="nav-link">Prijava</a></li>
      <li class="nav-item", ng-show="navvm.jePrijavljen"><p class="nav-link">Živjo, {{ navvm.trenutniUporabnik.ime }}</p>
      <li class="nav-item", ng-show="navvm.jePrijavljen"><a class="nav-link" href="" ng-click="navvm.odjava()"> Odjava</a></li>
        </ul>
      </li>
      
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="text" placeholder="Iskanje" class="form-control mr-sm-2">
      <button type="submit" class="btn btn-secondary my-2 my-sm-0">Išči &nbsp<span class="glyphicon glyphicon-search"></span></button>
    </form>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a href="/napredno" class="nav-link">Napredno iskanje</a></li>
    </ul>
  </div>
</nav>