<navigacija></navigacija>

<div class="container">
  <glava vsebina="vm.glavaStrani"></glava>
  <div class="row">
    <label for="filter">Filtriranje izdelkov</label>
    <input id="filter" type="text" name="filter" ng-model="filterRezultatov"/>
    <div ng-controller="seznamCtrl" class="col-xs-12">
      <div class="error">{{ vm.sporocilo }}</div>
      <div class="row">
        <div ng-repeat="izdelek in vm.data.izdelki | filter: filterRezultatov" class="col-xs-12 col-sm-6 col-md-4 list-group-item float-left">
          <div class="col-xs-6"><img src="{{ izdelek.slika }}" class="img-thumbnail"/></div>
          <div class="col-xs-6">
            <h2><a href="/izdelek/{{ izdelek._id }}">{{ izdelek.naziv }}</a></h2>
            <p> <strong>{{ izdelek.avtor }}</strong></p>
            <p>Katerogija: {{ izdelek.kategorija }}</p>
            <p>Zvrst: {{ izdelek.zvrst }}</p>
            <p><small prikazi-oceno ocena="izdelek.ocena"></small></p>
            <p>{{ izdelek.cena }} €</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <noga></noga>
</div>