<!DOCTYPE html>
<html ng-app>
<head>
  <script src="angular.min.js"></script>
  <meta charset="utf-8">
  <title>Demonstracija dvosmernega povezovanja</title>
</head>
<body ng-controller="demoKrmilnik">
  <input ng-model="oseba" /> <h1>Lep pozdrav {{ oseba }}</h1>
  <script>
    /* global angular */
    angular.module('demoAplikacija', []);
  </script>
</body>
</html>