<navigacija></navigacija>

<div class="container">
    <!--<glava vsebina="vm.glavaStrani"></glava>-->

    <div class="row">
      <div class="col-lg-5"><img src="{{ vm.podatki.izdelki.slika }}" class="img-thumbnail ikona"/></div>
      <div class="col-lg-7">
        <div class="row page-header">
          <div class="col-lg-6">
              <h1>{{ vm.podatki.izdelki.naziv }} </h1>
          </div>
          <div class="col-lg-6">
              <h1 class="rating float-right" prikazi-oceno ocena="vm.podatki.izdelki.ocena"></h1>
          </div>
        </div>
        <p>{{ vm.podatki.izdelki.avtor }}</p>
        <p>Kategorija: {{ vm.podatki.izdelki.kategorija }}</p>
        <p>Zvrst: {{ vm.podatki.izdelki.zvrst }}</p>
        <p>Cena:  {{ vm.podatki.izdelki.cena }}€</p>
        <p>Opis: {{ vm.podatki.izdelki.opis }}</p>
        <p>Ključne besede: <span class="badge badge-pill badge-primary" ng-repeat="beseda in vm.podatki.izdelki.kljucne_besede">{{ beseda }}</span>&nbsp;
        </p>
        <a ng-show="vm.jePrijavljen" ng-click="vm.dodajArtikel()" class="btn btn-default pull-right">Dodaj v košarico</a>
        <a ng-hide="vm.jePrijavljen" href="/prijava?stran={{ vm.prvotnaStran }}" class="btn btn-default pull-right">Prijava za dodajanje v košarico</a>
        <!--<button type="button" class="btn btn-lg btn-block btn-success razmik">Dodaj v košarico</button> -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12">
        <div class="panel card text-white bg-primary mb-3 razmik">
          <div class="card-header">
              <a ng-show="vm.jePrijavljen" ng-click="vm.prikaziPojavnoOknoObrazca()" class="btn btn-default pull-right">Dodaj komentar</a>
              <a ng-hide="vm.jePrijavljen" href="/prijava?stran={{ vm.prvotnaStran }}" class="btn btn-default pull-right">Prijava za komentiranje</a>
              <h2 class="card-title">Komentarji uporabnikov</h2>
          </div>
          <div class="card-body">
            <div class="warning"> {{ vm.podatki.brezKomentarja }}</div>
            
            <div class="card text-white bg-primary mb-3" ng-repeat="komentar in vm.podatki.izdelki.komentarji | orderBy:'datum':true">
                <div class="card-header">
                    <span> {{ komentar.avtor }} &nbsp </span>
                    <span> {{ komentar.datum | date : 'd. MMMM, yyyy' }} &nbsp </span>
                    <span prikazi-oceno ocena="komentar.ocena"> </span>
                </div>
                <div class="card-body">          
                    <p> {{ komentar.besediloKomentarja }}</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <noga></noga>
</div>