body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  font: 24px;
}

.ikona {
  max-width: 300px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.kosara {
  max-width: 80px;
  max-height: 80px;
}

.razmik {
  margin-top: 40px;
}

.komentar {
  padding-bottom: 5px;
}

.panel-body.komentar-vsebnik {
  padding-top: 0;
}

.komentar-glava {
  margin-bottom: 10px;
}

.komentarAvtor {
  margin: 0 5px;
}

.komentarDatum {
  color: #ccc;
}

.tabela {
  border: 0;
  padding: 20%
}

.celica {
  padding: 5%;
  margin: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

label[for=filter] {
  margin-right: 10px;
}
#filter {
  margin-bottom: 20px;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}