extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Spletnik je podjetje za prodajo knjig in filmov. Z veseljem delujemo že vse od leta 2019
        | <br/><br/>
        | Stopite v kontakt z nami:
        | <br/><br/>
      table
        tr
            td.celica
                 h1 
                    span.glyphicon.glyphicon-map-marker
            td  
                p Spletnik d.s.s.t (družba za simuliranje spletne trgovine) <br/>
                    | Ulica padlih študentov 13 <br/>
                    | 1000 Ljubljana
        tr
            td.celica
                h1 
                    span.glyphicon.glyphicon-phone-alt
            td  
                p 040/123-456
        tr
            td.celica
                h1 
                    span.glyphicon.glyphicon-envelope
            td  
                p info@spletnik.si
      