extends layout

include _include/skupneHTMLfunkcije.jade

block content
    
    .row
        .col-lg-5
            img.img-thumbnail.ikona(src=izdelek.slika)
        .col-lg-7
            .row.page-header
                .col-lg-12
                h1=izdelek.naziv
                    
            p #{izdelek.avtor}
            span.rating.float-right
                +prikaziOceno(izdelek.ocena)
            p Kategorija: #{izdelek.kategorija}
            p Zvrst: #{izdelek.zvrst}
            
            p Cena:  #{izdelek.cena}€
            p Opis: #{izdelek.opis}
            
            p Ključne besede: 
                each beseda in izdelek.kljucne_besede
                    span.badge.badge-pill.badge-primary #{beseda}
                    | &nbsp;

            
            button.btn.btn-lg.btn-block.btn-success.razmik(type='button') Dodaj v košarico
    .row
        .col-xs-12
          .panel.card.text-white.bg-primary.mb-3.razmik
            .card-header
              a.btn.btn-default.pull-right(href='/izdelek/#{izdelek._id}/komentar/nov') Dodaj komentar
              h2.card-title Komentarji uporabnikov
            .card-body
                .warning #{brezKomentarja}
                each komentar in izdelek.komentarji
                    .card.text-white.bg-primary.mb-3
                        .card-header
                            span #{komentar.avtor} &nbsp 
                            span  
                                +formatirajDatum(komentar.datum) 
                            span &nbsp &nbsp &nbsp
                                +prikaziOceno(komentar.ocena)

                        .card-body
                            p !{(komentar.besediloKomentarja).replace(/\n/g, '<br/>')}
                        
              
              
              
              
             