doctype html
html(ng-app='spletna_trgovina')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title

    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/slate.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='/bootstrap/css/lux.bootstrap.css')
    
    
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      a.navbar-brand(href='/') SPLETNIK
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarColor01.navbar-collapse.collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/') Kategorije
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/informacije') Informacije
          li.nav-item
            a.nav-link(href='/admin') Administratorska orodja
          li.nav-item
            a.nav-link(href='/') Prijava
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='text', placeholder='Iskanje')
          button.btn.btn-secondary.my-2.my-sm-0(type='submit') Išči &nbsp
            
            span.glyphicon.glyphicon-search
         ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/napredno') Napredno iskanje
        
    .container
       div(ng-view)
        block content
      
    footer
      .row
        .col-xs-12
           small &copy; Peter Merše &amp Grega Kamenšek 2018
    

    script(src='/angular/angular.min.js')
    script(src='/lib/angular-route.min.js')
    script(src='/angular/spletna_trgovina.min.js')
    //script(src='/seznam/seznam.krmilnik.js')
    //script(src='/app.js')
    //script(src='/skupno/storitve/trgovinaPodatki.storitev.js')
    //script(src='/skupno/storitve/trgovinaPodatki.storitev.js')
    //script(src='/skupno/direktive/prikaziOceno/prikaziOceno.direktiva.js')
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/preverjanje.js')