extends layout

include _include/skupneHTMLfunkcije.jade

block content
  #banner.page-header
    .row
      .col-lg-12
        h1=glava
  .row
    label(for="filter") Filtriranje izdelkov
    input#filter(type="text", name="filter", ng-model="filterRezultatov")
    .col-xs-12(ng-controller="seznamIzdelkovCtrl")
      .error {{ sporocilo }}
      .row
        .col-xs-12.col-sm-6.col-md-4.list-group-item.float-left(ng-repeat="izdelek in data.izdelki | filter: filterRezultatov")
          .col-xs-6
            img.img-thumbnail(src="{{ izdelek.slika }}")
          .col-xs-6
            h2
              a(href="/izdelek/{{ izdelek._id }}") {{ izdelek.naziv }}
            p 
              strong {{ izdelek.avtor }}
            p Katerogija: {{ izdelek.kategorija }}
            p Zvrst: {{ izdelek.zvrst }}
            p
              small(prikazi-oceno, ocena="izdelek.ocena")
            p {{ izdelek.cena }} €
      
    
      
      
      