&nbsp;
<span class="glyphicon glyphicon-star{{ trenutnaOcena<1 ? '-empty' : ''}}"></span>
<span class="glyphicon glyphicon-star{{ trenutnaOcena<2 ? '-empty' : ''}}"></span>
<span class="glyphicon glyphicon-star{{ trenutnaOcena<3 ? '-empty' : ''}}"></span>
<span class="glyphicon glyphicon-star{{ trenutnaOcena<4 ? '-empty' : ''}}"></span>
<span class="glyphicon glyphicon-star{{ trenutnaOcena<5 ? '-empty' : ''}}"></span>